*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
.main{
    width: 100%;
    height: 100vh;
    /* background-color: black; */
}

.back{
    width: 100%;
    height: 100vh;
    /* background-color: red; */
}

.back img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.top{
    pointer-events: none;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* background-color: #000; */
}

.workingarea{
    position: relative;
    margin: 0 auto;
    width:80%;
    height: 100vh;
    max-width: 1920px;
    /* background-color: #888; */
    /* border: 1px solid red; */
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 40px 0;
}

.nav img{
    height: 60px;
}

.navleft, .navright{
    display: flex;
    align-items: center;
    gap:60px;
}
.nav a{
    pointer-events: all;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
}

.hero{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.hleft{
    min-width: 50%;
    /* background-color: yellow; */
}

.hleft #elem {
    position: relative;
    height: 10vw;
    overflow: hidden;
   
}

.hleft #elem h1:nth-child(1){
    top:0;
}

.hleft #elem h1{
    position: absolute;
    top: 100%;
    left: 0;
    line-height: .9;
    font-family: "kajiro";
    color: #fff;
    font-weight: 100;
    font-size: 12vw;

}

.hleft button{
    pointer-events: all;
    margin-top: 1vw;
    padding: .8vw 3vw;
    font-size: 3vw;
    font-family: "kajiro";
}

.hright{
    /* margin-top: 3vw; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 17%;
    color: #fff;
    /* background-color: green; */
}

.hright p{
 
    font-size: 14px;
    font-weight: 400;
    text-align: right;
}

.hright .imagediv{
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    height: 170px;
   background-image: url("https://images.unsplash.com/photo-1698395000998-632b2ae1091a?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHx8");
   background-position: center;
   background-size: cover;
}

.hright p:nth-child(3){
    margin-bottom: 100px;
}

